body{
    background-color: yellow;
}


.left-part {
background-color: azure;
position: fixed;
bottom: 0;
width: 100%;
}

.countdown {
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: end;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    border: .125rem solid yellowgreen;
    border-top-left-radius: 130px;
    background-color: black;
    &-inner {
        position: relative;
        bottom: 25px;
        right: 10px;
    }
}
 