/* icon to click*/
.burger {
    z-index: 3;
    top: 20px;
    left: 20px;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
}

.burger span {
    border: solid 1px #00cecb;
    width: 48px;
    transition: 0.75s;
}

.burger, .menu {
    position: fixed;
}

body.open #one{
    rotate: 45deg;
    translate: 0 16px;
    z-index: 1;
    border: 1px solid #ec0b43;
    background-color: #ec0b43;
    transition: 0.5s;
}

body.open #two{
    opacity: 0;
}

body.open #three{
    rotate: -45deg;
    translate: 0 -16px;
    z-index: 2;
    border: 1px solid #ec0b43;
    background-color: #ec0b43;
    transition: 0.5s;
}
