body {
    background-color: #273043;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
};

.work-progress {
    background-image: linear-gradient(135deg, darkgrey 25%, #001524 25%, #001524 50%, darkgrey 50%, darkgrey 75%, #001524 75%, #001524 100%);
    background-size: 84.85px 84.85px;
    color: yellow;
    width: 400px;
    height: 400px;
    position: fixed;
    border-radius: 50%;
    top: calc(50% - 200px);
    left: calc(50% - 200px); 
    .first {
        color: red;
        margin-top: 25%;
        font-size: 20px;
    }
    .second {
        color: white;
        margin-top: 10%;
        font-size: 20px;
    }
    .third {
 
        margin-top: 10%;

    }
}


