body {
    background-color: aqua;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
};

.work-progress {
    background-image: linear-gradient(135deg, #ff7d00 25%, #001524 25%, #001524 50%, #ff7d00 50%, #ff7d00 75%, #001524 75%, #001524 100%);
    background-size: 84.85px 84.85px;
    width: 400px;
    height: 400px;
    position: fixed;
    border-radius: 50%;
    top: calc(50% - 200px);
    left: calc(50% - 200px); 
}


