:root {
    --main-radius:5px;
    --main-padding:5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.6fr 1fr 1fr ;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
        "sidebar about about"
        "sidebar time-ln-work-2 desc-work-2"
        "sidebar time-ln-work-1 desc-work-1"
        "sidebar tile-in-edu-5 desc-edu-5"
        "sidebar tile-in-edu-4 desc-edu-4"
        "sidebar tile-in-edu-3 desc-edu-3"
        "sidebar tile-in-edu-2 desc-edu-2"
        "sidebar tile-in-edu-1 desc-edu-1"
        "footer footer footer";
    grid-gap: 0.2rem;
    font-family: 'Calibri';
    font-size: 24px;
    color: #004d40;
    text-align: center;
}


#sidebar {
    background-color: #A5BAF6;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    grid-area: footer;
}

.timeline, .desc {
    display: inline-block;    
}

.photo {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}


@media only screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
           "sidebar"
           "about"
            "time-ln-work-2"
            "desc-work-2"
            "time-ln-work-1"
            "desc-work-1"
            "tile-in-edu-5"
            "desc-edu-5"
            "tile-in-edu-4"
            "desc-edu-4"
            "tile-in-edu-3"
            "desc-edu-3"
            "tile-in-edu-2"
            "desc-edu-2"
            "tile-in-edu-1"
            "desc-edu-1"
            "footer";
    }
}