body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.container {
    display: grid;
    grid-row: auto;
    grid-column: auto;
    grid-template-areas:
        "one two two"
        "one three three"
        "one four five"
        "one six seven"
        "one eight eight"
        "one nine ten"
        "one eleven twelve"
        "one thirteen fourteen"
        "one fiveteen sixteen"
        "one seventeen eightteen"
        "one nineteen nineteen"
        "one twenty twentyone"
        "footer footer footer";
}

.container #one div {
    border: none;
    font-size: 12px;
    text-align: center;
}

#three, #eight, #nineteen {
    font-weight: 700;
}

#one {
    grid-area: one;
    background-color: lightgray;
    border-radius: 5px;
}

.photo {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#ten {
    grid-area: ten;
}

#eleven {
    grid-area: eleven;
}

#twelve {
    grid-area: twelve;
}

#thirteen {
    grid-area: thirteen;
}

#fourteen {
    grid-area: fourteen;
}

#fiveteen {
    grid-area: fiveteen;
}

#sixteen {
    grid-area: sixteen;
}

#seventeen {
    grid-area: seventeen;
}

#eightteen {
    grid-area: eightteen;
}

#nineteen {
    grid-area: nineteen;
}

#twenty {
    grid-area: twenty;
}

#twentyone {
    grid-area: twentyone;
}


#footer {
    grid-area: footer;
}