:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    "sidebar about about"
    "sidebar tlt-work tlt-work"
    "sidebar time-w2 work2"
    "sidebar time-w1 work1"
    "sidebar tlt-tr tlt-tr"
    "sidebar tlt-edu tlt-edu"
    "footer footer footer";
  grid-gap: 0.2rem;
  font-family: "Calibri";
  font-size: 24px;
}

#sidebar {
  background-color: #f1f5f2;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#sidebar .ph-nm {
  text-align: center;
  font-size: 32px;
}

#tlt-work {
  grid-area: tlt-work;
  font-size: 32px;
}

footer {
  grid-area: footer;
}

.timeline,
.desc {
  display: inline-block;
}

.photo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "sidebar"
      "about"
      "time-w2"
      "work2"
      "time-w1"
      "work1"
      "footer";
  }
}
