body {
    font-family: monospace;
    background-color: #F1ECCE;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

/* icon to click*/
.burger, .burger2 {
    z-index: 3;
    top: 0;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
}

.burger {
    left: 0;
}

.burger2 {
    left: calc(100vw - 72px);
}

.burger span {
    border: solid 4px #00cecb;
    width: 48px;
    transition: 0.75s;
}

.burger, .menu {
    position: fixed;
}

.burger2 {
    border: solid 4px #965b9a;
    border-radius: 50%;
    transition: 1s;
}

.burger2 span {
    border: solid 1px #965b9a;
    width: 30px;
    transition: 1s;
}

.burger2, .menu2 {
    position: fixed;
}

body.open #one{
    rotate: 45deg;
    translate: 0 16px;
    z-index: 1;
    border: 4px solid #841F44;
    background-color: #841F44;
    transition: 0.5s;
}

body.open #two{
    opacity: 0;
}

body.open #three{
    rotate: -45deg;
    translate: 0 -16px;
    z-index: 2;
    border: 4px solid #ec0b43;
    background-color: #ec0b43;
    transition: 0.5s;
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #07030a;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu nav {
    opacity: 1;
}

.menu nav:hover a {
    opacity: 0.2;
}

body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.5s;
}


body.open .menu a{
    animation: appear 1s backwards;
}

.menu nav a:hover{
    opacity: 1;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
}

.menu a, .menu a::before, .menu a::after {
    transition: 0.4s;
}

/* położenie, grubość paska, szerokość opisu, poziom na którym pojawia się pasek*/

.menu a::before, .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

.menu a::before {
    opacity: 0;
    background: rgb(250, 250, 250, 20%);
}

/* underline - color  */

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #89fc00;
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

@keyframes appear {
    0% { opacity: 0; translate:  -30px;}
    100% { opacity: 1;}
}


#two-one, #two-three, #two-five{
    opacity: 0;
}

body.open2 .burger2{
    border: none;
    transition: 1s;
}

body.open2 #two-one{
    opacity: 1;
    rotate: 45deg;
    translate: 0 16px;
    z-index: 1;
    border: 1px solid #AFFC41;
    background-color: #AFFC41;
    transition: 0.75s;
}

body.open2 #two-two{
    opacity: 0;
}

body.open2 #two-three{
    rotate: -45deg;
    translate: 0 -16px;
    z-index: 2;
    border: 4px solid #AFFC41;
    background-color: #AFFC41;
    transition: 0.5s;
}

body.open2 #two-four{
    opacity: 0;
}

body.open2 #two-five{
    rotate: -45deg;
    translate: 0 -16px;
    z-index: 2;
    border: 4px solid #AFFC41;
    background-color: #AFFC41;
    transition: 0.5s;
}

.menu2 {
    z-index: 2;
    top: 0;
    left: 100%;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #07030a;
    translate: 100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu2 nav {
    opacity: 1;
}

.menu2 nav:hover a {
    opacity: 0.2;
}

body.open2 .menu2 {
    opacity: 1;
    visibility: visible;
    translate: -100%;
    animation: menu-in 0.5s;
}


body.open2 .menu2 a{
    animation: appear 1s backwards;
}

.menu2 nav a:hover{
    opacity: 1;
}

.menu2 nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu2 a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
}

.menu2 a, .menu2 a::before, .menu2 a::after {
    transition: 0.4s;
}

/* położenie, grubość paska, szerokość opisu, poziom na którym pojawia się pasek*/

.menu2 a::before, .menu2 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

.menu2 a::before {
    opacity: 0;
    background: rgb(250, 250, 250, 20%);
}

/* underline - color  */

.menu2 a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #89fc00;
}

.menu2 a:hover::before {
    opacity: 1;
}

.menu2 a:hover::after {
    transform: scaleX(1);
}

.main-text {
    font-size: 48px;
}

#main-text {
    text-align: center;
	font-size: 100px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url(/img/dark.jpg);
    transition: 0.5s;
}

#main-text:hover {
	font-size: 100px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url(/img/light.jpg);
}






