body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

.container {
    display: grid;
    grid-row: auto;
    grid-column: auto;
    grid-template-areas:
        "one two two"
        "one three three"
        "one four five"
        "one six seven"
        "one eight nine"
        "one ten eleven"
        "one twelve thirteen"
        "footer footer footer"
    ;
    grid-gap: 5px;
}

.container div {
    border: 1px solid yellow;
    border-radius: 15px;
    text-align: center;

}

#one {
    grid-area: one;
    background-color: antiquewhite;
}

#two {
    grid-area: two;
    background-color: orange;
}

#three {
    grid-area: three;
    background-color: blueviolet;
}

#four {
    grid-area: four;
    background-color: blue;
}

#five {
    grid-area: five;
    background-color: cyan;
}

#six {
    grid-area: six;
    background-color: cornsilk;
}

#seven {
    grid-area: seven;
    background-color: darkcyan;
}

#eight {
    grid-area: eight;
    background-color: yellow;
}

#nine {
    grid-area: nine;
    background-color: yellowgreen;
}

#ten {
    grid-area: ten;
    background-color: darkgray;
}

#eleven {
    grid-area: eleven;
    background-color: gainsboro;
}

#twelve {
    grid-area: twelve;
    background-color: hotpink;
}

#thirteen {
    grid-area: thirteen;
    background-color: lightsteelblue;
}


#footer {
    grid-area: footer;
    background-color: darkgreen;
    color: yellow;
}